<!DOCTYPE html>
<html lang="en">
<head>
  <title>Southern Natural Sales</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="app.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script src="app.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.28//angular-route.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body ng-view ng-app="app" ng-controller="appCtrl">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Southern Natural Sales</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
<!--       <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul> -->
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#!/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#!/signup"><span class="glyphicon glyphicon-log-in"></span> Signup</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">

  <div class="row content">
    <div class="col-sm-2 sidenav">
      <p><a href="#">Home</a></p>
      <p><a href="#">Calendar</a></p>
      <p><a href="#">Account</a></p>
    </div>
    <div class="col-sm-8 text-left">
      <h3>New Demo</h3>
      <form ng-submit="newPost()">
        <label for="inputLine">Line: </label>
        <select ng-model="inputLine" ng-change="changedLine(inputLine)" required>
          <option value="Nordic Naturals">Nordic Naturals</option>
          <option value="Bluebonnet">Bluebonnet</option>
          <option value="Aloe Life">Aloe Life</option>
          <option value="Host Defense">Host Defense</option>
        </select>
        <span ng-show="lineLimitWarning" style="font-size: 12px; color: red;">Selected line has reached limit for this month, please contact Kathryn before confirming this demo.</span>
        <br />
        <label for="inputStore">Store: </label>
        <input type="text" id="inputStore" ng-model="inputStore" required></input>
        <br />
        <br />
        <label for="inputDate">Date: </label>
        <input type="date" id="inputDate" ng-model="inputDate" required></input>
        <br />
        <br />
        <label for="inputTime">Time: </label>
        <select ng-model="inputTime" required>
          <option value="8:00">8:00</option>
          <option value="8:30">8:30</option>
          <option value="9:00">9:00</option>
          <option value="9:30">9:30</option>
          <option value="10:00">10:00</option>
          <option value="10:30">10:30</option>
          <option value="11:00">11:00</option>
          <option value="11:30">11:30</option>
          <option value="12:00">12:00</option>
          <option value="12:30">12:30</option>
          <option value="1:00">1:00</option>
          <option value="1:30">1:30</option>
          <option value="2:00">2:00</option>
          <option value="2:30">2:30</option>
          <option value="3:00">3:00</option>
          <option value="3:30">3:30</option>
          <option value="4:00">4:00</option>
          <option value="4:30">4:30</option>
          <option value="5:00">5:00</option>
          <option value="5:30">5:30</option>
          <option value="6:00">6:00</option>
          <option value="6:30">6:30</option>
          <option value="7:00">7:00</option>
          <option value="7:30">7:30</option>
        </select>
        <select ng-model="inputAMPM" required>
          <option value="am">am</option>
          <option value="pm">pm</option>
        </select>
        <br />
        <br />
        <label for="inputComments">Comments: </label>
        <textarea type="text" ng-model="inputComments"></textarea><br />
        <input type="submit" value="Save" /><br />
      </form>
      <hr>
      <h3>Demos</h3>
      <div id="demoList" class="grid">
        <!-- <select ng-model="orderList" style="float: right;">
          <option value="date" selected>Date</option>
        </select> -->
        <!-- <p style="float: right;">Sort Demos</p> -->
        <div id="demo" class="row" ng-repeat="post in posts | orderBy: orderList">
          <ul class="list-group">
            <li class="list-group-item">Line: {{post.line}}</li>
            <li class="list-group-item">Store: {{post.store}}</li>
            <li class="list-group-item">Date: {{post.date | date:'MM/dd/yyyy'}}</li>
            <li class="list-group-item">Time: {{post.time[0]}}{{post.time[1]}}</li>
            <li class="list-group-item">Comments: {{post.comments}}</li>
          </ul>
          <br />
        </div>
      </div>
    </div>
    <div class="col-sm-2 sidenav">
      <div class="well">
        <h4>Total Demos by Line</h4>
        <p>Nordic Naturals: {{lines["Nordic Naturals"].current || 0}} / {{lines["Nordic Naturals"].limit}}</p>
        <p>Bluebonnet: {{lines["Bluebonnet"].current || 0}} / {{lines["Bluebonnet"].limit}}</p>
        <p>Aloes Life: {{lines["Aloe Life"].current || 0}} / {{lines["Aloe Life"].limit}}</p>
        <p>Host Defense: {{lines["Host Defense"].current || 0}} / {{lines["Host Defense"].limit}}</p>
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
